header > .navbar {
    padding: 0px;
    border-top: 10px solid #747474;
    border-bottom: 10px solid #747474;
}

.Header {
    background-color: #747474;
    padding: 0px;
    margin: 0px;
}

#navbarNav {
    flex-grow: 0;
}

.navbar-toggler {
    margin-right: 12px;
    float: right;
}

header .navbar-brand {
    font-weight: 700;
    margin-left: 12px;
    max-width: 200px;
}
