/* Button Primary */
.btn-primary {
    background-color: #2377b3 !important;
}

/* Header Background */
header.bg-primary {
    background-color: #2377b3 !important;
}

/* Navbar Styling */
header > .navbar {
    padding: 10px 0;
    border-top: 10px solid #747474;
    border-bottom: 10px solid #747474;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-toggler {
    border-color: #fff; /* Đổi màu viền thành trắng */
}

.navbar-toggler-icon {
    filter: invert(1); /* Đảo màu từ đen sang trắng */
}

/* Navbar Brand */
header .navbar-brand {
    font-weight: 700;
    margin-left: 12px;
    font-size: 2rem;
    color: #fff;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

header .navbar-brand:hover {
    color: #e0e0e0;
}

/* Navbar Links */
.navbar-nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-left: 15px;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #fff !important;
    transition: color 0.3s ease-in-out;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.navbar-nav .nav-link:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #f1f1f1 !important;
    text-decoration: none;
}

/* Responsive Navbar */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
        flex-direction: column;
    }
    .navbar-nav .nav-item {
        margin: 5px 0;
    }
}
